<button class="btn warning" (click)="activo = 'primero'">Desayuno</button>
<button class="btn danger" (click)="activo = 'segundo'">Almuerzo y cena</button>
<div class="rounded d-none " [ngClass]="{ 'd-block': activo == 'primero' }">
  <button class="btn success p-4" *ngFor="let breakfast of breakfastMenu;index as i;">
    {{breakfast.name}} ${{breakfast.price}}
  </button>
</div>
<div class="rounded d-none" [ngClass]="{ 'd-block': activo == 'segundo' }">
  <button class="btn success" *ngFor="let lunch of lunchMenu;index as i;">
    {{lunch.name}} ${{lunch.price}}
  </button>
</div>
